<div style="padding: 5px 0; overflow:hidden; font-family: Helvetica; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; font-size: 12px;"><span style="float:left; width: 100%;">{{user.greeting.data}},</span>
<span style="width:50%;border-bottom:1px solid #333;float:left; margin-top:10px;"></span>
<span style="width:100%; float:left; padding: 5px 0; ">
<strong>{{user.usersname.data}}</strong>, <br> {{user.jobtitle.data}} {{#if user.company.data}}<br> {{user.company.data}}{{/if}}
</span>

<div style="width:100%;float:left; padding: 5px 0;">
<img style="max-width: 100px;" src="{{user.logourl.data}}" alt="{{user.company.data}} logo">
</div>

<div style="width:100%;float:left; padding: 5px 0;">
{{#if user.address.data}}{{user.address.data}},{{/if}}
{{#if user.city.data}}{{user.city.data}}{{/if}}
{{#if user.postalcode.data}}{{user.postalcode.data}} |{{/if}}
{{#if user.stateprovince.data}}{{user.stateprovince.data}} |{{/if}}
{{#if user.country.data}}{{user.country.data}}{{/if}}
</div>

 <div style="width:100%;float:left; padding: 5px 0;">
{{#if user.telephone.data}}
<b>Tel:</b>
<span style="color:#4B83AE;">{{user.telephone.data}}</span>&nbsp;|&nbsp;
{{/if}}
{{#if user.mobile.data}}<b>Mobile:</b>
<span style="color:#4B83AE;">{{user.mobile.data}}</span>
{{/if}}
<div style="float:left; width:100%; padding: 5px 0;">
<b>e-mail: </b><a href="mailto:{{user.email.data}}" style="color:#EB6864;">{{user.email.data}}</a> |
{{#if user.website.data}}
<b>Website: </b>
<a href="http://{{user.website.data}}" style="color:#EB6864;">{{user.website.data}}</a>
</div>
{{/if}}
{{#if user.socialnetwork}}
	<div style="width:100%; float: left; padding: 5px 0;">
		{{#each user.socialnetwork}}
			<a href="{{this}}">{{@key}}</a> |
		{{/each}}
	</div>
{{/if}}
</div>
{{#if user.disclaimer.data}}
<span style="width:100%;border-bottom:1px solid #333;float:left; margin-top:10px; font-style: italic;"></span>
<div style="width:100%;float:left; padding: 5px 0; color:#9C9C9C;">{{user.disclaimer.data}}</div>
{{/if}}
</div>
